[Unit]
Description=Arno's Iptables Firewall(AIF)
Documentation=man:arno-iptables-firewall(8)
Documentation=https://rocky.eld.leidenuniv.nl/
DefaultDependencies=no
After=local-fs.target network-online.target
Requires=local-fs.target network-online.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/arno-iptables-firewall start
ExecStop=/usr/local/sbin/arno-iptables-firewall stop
ExecReload=/usr/local/sbin/arno-iptables-firewall force-reload
RemainAfterExit=yes
ProtectSystem=true
ProtectHome=true
PrivateTmp=false
LimitNPROC=1
DeviceAllow=/dev/null rw

[Install]
WantedBy=multi-user.target
